{% extends "base_generic.html" %}

{% block title %}<title>List of Authors</title>{% endblock %}

{% block content %}
	<h1>List of Authors</h1>
	<ul>
		{% for author in name_of_the_authors %}
		<li>
			<a href="{{ author.get_absolute_url }}">{{ author }}</a> ({{ autor.date_of_birth }} - {{ author.date_of_death }}) {% if perms.catalog.can_mark_returned %} - <a href="{% url 'author-update' author.pk %}">Update</a> - <a href="{% url 'author-delete' author.pk %}">Delete</a> {% endif %}
		</li>
		{% endfor %}
	</ul>
{% endblock %}